{% extends "base.html" %}

{% block content %}
  {{post.render(user) | safe}}
  <script type="text/javascript">
      document.getElementById('hide_comment').style.display = 'none';
      document.getElementById('hide_viewComment').style.display = 'none';
  </script>
  <br>
  <script>
      document.getElementById('comment_title').style.display = 'inline';
    </script>
  {% if comment %}
	  	
      {% for c in comment %}
        {{ c.renderd(user) | safe }}
        <br><br>
      {% endfor %}
  {% endif %}
{% endblock %}