{% extends "base.html" %}

{% block content %}
<script type="text/javascript">
    document.getElementById('log').style.display = 'none';
</script>
<div class="container, text-center">
    <div>
        <h1 class="text-center">Welcome to Blog Away</h1>
        <h3 class="text-center"> A blog site where anyone can blog about anything and everything</h3>
        <br>
        <br>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="well">
                <h2 class="text-center">Sign Up</h2>
                <h4 class="text-center">Sign up for free and start posting your blogs</h4>
                <br>
                <a class="btn btn-primary btn-lg btn-block" href="/signup">Sign up</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well">
                <h2 class="text-center">Log In</h2>
                <h4 class="text-center">Returning members just log in</h4>
                <br>
                <br>
                <a class="btn btn-success btn-lg btn-block" href="/login">Log In</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!-- <!DOCTYPE html>
<html>
    <head>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <link type="text/css" rel="stylesheet" href="/static/main.css" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

      <title>Blog Away!</title>
    </head>

    <body>
        <div class="container">
            <div>
                <h1 class="text-center">Welcome to Blog Away</h1>
                <h3 class="text-center"> A blog site where anyone can blog about anything and everything</h3>
                <br>
                <br>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="well">
                        <h2 class="text-center">Sign Up</h2>
                        <h4 class="text-center">Sign up for free and start posting your blogs</h4>
                        <br>
                        <a class="btn btn-primary btn-lg btn-block" href="/signup">Sign up</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="well">
                        <h2 class="text-center">Log In</h2>
                        <h4 class="text-center">Returning members just log in</h4>
                        <br>
                        <a class="btn btn-success btn-lg btn-block" href="/login">Log In</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html> -->