{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="well">
          <h2>Welcome, {{username}}!</h2>
          <br>
          <br>
          <a class="Newpost_button" href="/blog/newpost">Add New Post</a>
          <a class="Viewblog_button" href="/blog">View the blogs</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
<!--
<!DOCTYPE html>

<html>
  <head>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <link type="text/css" rel="stylesheet" href="/static/main.css" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

      <title>Blog Away!</title>
    </head>
  <body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="well">
                    <h2>Welcome, {{username}}!</h2>
                    <br>
                    <br>
                    <a class="Newpost_button" href="/blog/newpost">Add New Post</a>
                    <a class="Viewblog_button" href="/blog">View the blogs</a>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
 -->